
.hd{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;

    transition: 0.7s ;
    list-style: none;
    z-index: 10;
}
header.abajo nav{
    background-color: #50CDE4;
    color: black;
    
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hd ul{
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 1%;
    text-align: justify;
   
    
}
h1{
    font-family: "Birds of Paradise  Personal use";
    color: black;
}

hd ul li a{
    position: relative;
    font-family: "Times New Romas";
    color: #fff;
    letter-spacing: 2px; 
    transition: 0.7s; 
}

.main-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(FOTO%20Armando2.jpg);
    background-size: cover;
    background-position: center center;
   
}
.background-overlay{
  
    background: rgba(48, 51, 107, .7);
 
    
}

li{
    margin-right: 10%;
}
.offcanvas{
    color: white;
    background-color: #50CDE4;
    font-family: "Times New Romas"
}

p{
    text-align: justify;
}

.contenedor{
    margin: 15%
}

